li id="answer-#{answer.id}"
  p = answer.body
  - if user_signed_in? && current_user.author_of?(answer) && answer.persisted?
    = link_to 'Delete Answer', answer_path(answer), data: { turbo_method: :delete, confirm: 'Are you sure?' }
