/* Answer block */
.answer {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.375rem;
    box-shadow: 2px 4px 10px hsl(0 0% 0% / 0.1);
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.answer__body {
    font-size: var(--font-size-m);
    color: var(--color-text-body);
    margin-bottom: var(--space-xs);
}

/* Best answer highlight */
.best-answer {
    border: solid 2px var(--color-primary);
    background-color: var(--color-primary-bg);
    padding: var(--space-m);
}

/* Vote area styles */
.vote-area {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
}

.vote__label {
    font-weight: bold;
}

.vote__rating {
    font-size: var(--font-size-l);
    color: var(--color-dark);
}

.vote__up, .vote__down, .vote__cancel {
    cursor: pointer;
    padding: var(--space-xxs) var(--space-xs);
    background-color: var(--color-light);
    border: none;
    border-radius: var(--border-radius);
}

.vote__up:hover, .vote__down:hover, .vote__cancel:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

/* Error message */
#error-message {
    color: red;
    margin-top: var(--space-xs);
}

/* Attachments */
.attachments li {
    margin-top: var(--space-xxs);
}

.delete-file-link {
    color: red;
    margin-left: var(--space-xs);
}

/* Links */
.links li {
    margin-top: var(--space-xxxs);
}

/* Answer actions */
.answer__edit-link, .answer__delete-link {
    margin-right: var(--space-xs);
    color: var(--color-primary);
    text-decoration: none;
}

.answer__edit-link:hover, .answer__delete-link:hover {
    text-decoration: underline;
}

/* Mark/Unmark Best button */
.answer__best-toggle {
    padding: var(--space-xxs) var(--space-xs);
    border-radius: var(--border-radius);
    background-color: var(--color-tertiary);
    color: var(--color-white);
    cursor: pointer;
}

.answer__best-toggle:hover {
    background-color: var(--color-primary-rotate);
}
